input {
    font-size: 1.3em;
    padding: 3px;
    border: 1px solid #999;
    border-radius: 5px;
}

.container{
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
}

div{
    margin-bottom: 20px;
}